<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-leanconnect-plugin" version="0.10.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>LeanConnectPlugin</name>
	<js-module name="LeanConnectPlugin" src="www/LeanConnectPlugin.js">
		<clobbers target="cordova.plugins.LeanConnectPlugin" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="LeanConnectPlugin">
				<param name="android-package" value="com.mobile.leanconnect.LeanConnectPlugin" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.NFC" />
		</config-file>
		<source-file src="src/android/LeanConnectPlugin.java" target-dir="src/com/mobile/leanconnect" />
		<framework custom="true" src="src/android/LeanConnectPlugin.gradle" type="gradleReference" />
		<resource-file src="src/android/libs/leanConnectInterfaceLib-debug.aar" target="libs/leanConnectInterfaceLib-debug.aar" />
		<resource-file src="src/android/libs/leanConnectLibForServices-debug.aar" target="libs/leanConnectLibForServices-debug.aar" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="LeanConnectPlugin">
				<param name="ios-package" value="LeanConnectPlugin" />
			</feature>
		</config-file>
		<!-- https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_developer_nfc_readersession_formats?language=objc -->
        <config-file parent="com.apple.developer.nfc.readersession.formats" platform="ios" target="*-Debug.plist">
            <array>
                <string>NDEF</string>
                <string>TAG</string>  
            </array>
        </config-file>
        <config-file parent="com.apple.developer.nfc.readersession.formats" platform="ios" target="*-Release.plist">
            <array>
                <string>NDEF</string>
                <string>TAG</string>  
            </array>
        </config-file>
		<framework src="CoreNFC.framework" weak="true" />
		<source-file src="src/ios/LeanConnectPlugin.swift" />
		<source-file src="src/ios/libs/LeanConnectMobileKit.framework" target-dir="libs" framework="true" />
		<framework src="src/ios/libs/LeanConnectMobileKit.framework" embed="false" custom="true" />
		<podspec>
			<config>
				<source url="https://cdn.cocoapods.org/"/>
			</config>
			<pods use-frameworks="true">
				<pod name="SQLite.swift" git="https://github.com/stephencelis/SQLite.swift.git" tag="0.13.2"/>
			</pods>
		</podspec>
	</platform>
</plugin>